<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305553502414-g0rcv0e0t2m7p68shnu1m44lk50uv12p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305553502414-g0rcv0e0t2m7p68shnu1m44lk50uv12p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>305553502414-b0ctrbd03h3qr9q4fcts0n5o86gdetoa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDeFwFEIwqADK4Z8k_rYSa8NOzTZb5s8KE</string>
	<key>GCM_SENDER_ID</key>
	<string>305553502414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EdsonJr.deOlhoEmManaus</string>
	<key>PROJECT_ID</key>
	<string>deolhoemmanaus-75020</string>
	<key>STORAGE_BUCKET</key>
	<string>deolhoemmanaus-75020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305553502414:ios:39eb6697d1188ff645a09f</string>
	<key>DATABASE_URL</key>
	<string>https://deolhoemmanaus-75020.firebaseio.com</string>
</dict>
</plist>